@model Mvc_MusteriTakipUygulaması.Models.WorkList

@{
    ViewData["Title"] = "YeniIsEkle";
    Layout = "~/Views/Shared/_MusteriTakipLayout.cshtml";
}



<div class="content">
    <formz method="post">
        <input asp-for="MusteriID" type="hidden" placeholder="Tarih giriniz" class="form-control" required="">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header"><strong>İş Ekleme Formu</strong></div>
                <div class="card-body card-block">

                    <div class="form-group">
                        <label class=" form-control-label"> <strong>Firma</strong> </label>
                        <select name="firmList" id="cmbFirmList">
                        </select>
                    </div>


                    <div class="form-group">
                        <label asp-for="Tarih" class=" form-control-label"> <strong>Tarih</strong> </label>
                        <input asp-for="Tarih" type="date" placeholder="Tarih giriniz" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label asp-for="YapilacakIs" class=" form-control-label"><strong>Yapılacak İş</strong></label>
                        <input asp-for="YapilacakIs" type="text" placeholder="Yapılacak işi giriniz" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label asp-for="KurumAdi" class=" form-control-label"><strong>Kurum</strong></label>
                        <input asp-for="KurumAdi" type="text" placeholder="Kurum adı giriniz" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label asp-for="IsiTakipEdenPersonel" class=" form-control-label"><strong>İşi Takip Eden Personel</strong></label>
                        <input asp-for="IsiTakipEdenPersonel" type="text" placeholder="Personel adı giriniz" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label asp-for="IsinTeslimEdilecegiYetkili" class=" form-control-label"><strong>Teslim Edilecek Yetkisi</strong></label>
                        <input asp-for="IsinTeslimEdilecegiYetkili" type="text" placeholder="İşimn teslim edileceği yetkiliyi giriniz" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label asp-for="HizmetBedeli" class=" form-control-label"><strong>Hizmet Bedeli</strong></label>
                        <input asp-for="HizmetBedeli" type="text" placeholder="Hizmet bedelini giriniz" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label asp-for="HarcBedeli" class=" form-control-label"><strong>Harç Bedeli</strong></label>
                        <input asp-for="HarcBedeli" type="text" placeholder="Harç bedelini giriniz" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label asp-for="ToplamFaturaBedeli" class=" form-control-label"><strong>Toplam Fatura Bedeli</strong></label>
                        <input asp-for="ToplamFaturaBedeli" type="text" placeholder="Toplam fatura bedelini giriniz" class="form-control" required="">
                    </div>

                </div>
                <button type="submit" class="btn btn-info mt-3 align-items-center">İş Ekle</button>

            </div>

        </div>


    </formz>


</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            GetClientList()
        });

        function GetClientList() {
            $.ajax({
                url: '/Islemler/GetClientList',
                success: function (dt) {
                    if (dt != undefined || dt != null) {
                        $('#cmbFirmList').html('');

                        $.each(dt, function (index, value) {
                            $('#cmbFirmList').append('<option value="' + value.Id + '"> ' + value.ClientName + ' </option> ');
                        })
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }
    </script>
}
